<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[https://hi3tqa.dm.files.1drv.com/y4mfe3O_aDr8kGaHa6yOfMy-6aK4qGRuyi5IIWetGASuPctZwbVjQXJTPN2wwNlDJ1t_TeG8gy5yHIa4h548ij4hE-fSlQBQAhDqQJ22bJcBF7gpakOSje4D-e5Qkp14glWTPfOs7gRmVEd9zas7OTupxCDn4OUB9FGY90dbqbuiqAJEln46w0gOR4pTNKX2aq7/%E5%BE%AE%E4%BF%A1%206.7.4.ipa?download&amp;psid=1]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://www.baidu.com/123.png]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://www.baidu.com/123.png]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.tencent.xin</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[wechat6.7.4]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>